{% for entry in entries %}
<div class="pub-entry">
  {{ entry.title }} <br />
  <em>{{ entry.reference }}</em><br />
  {% if entry.url %}<a href="{{ entry.url }}">{{ entry.journal }}{% if entry.volume %} {{ entry.volume }}{% endif %}{% if entry.pages %} {{ entry.pages }}{% endif %} ({{ entry.year }})</a>{% endif %}
  {% if entry.news1 %} <span class="text-danger"><strong>{{ entry.news1 | markdownify }}</strong></span>{% endif %}
  {% if entry.news2 %} <br /><small>{{ entry.news2 | markdownify }}</small>{% endif %}
</div>
<p> &nbsp; </p>
{% endfor %}
